tmp.seq
seq/*.seq
phantom/*
__pycache__
numerical_brain_cropped.mat

# LaTeX build files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.acn
*.acr
*.alg
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nlg
*.nlo
*.slg
*.slo
*.stg
*.stt
*.xdy
*.tdo
*.pag
*.fdb_latexmk
*.fls
*.bbl